@use "helpers";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: helpers.$ff-kumbh-sans;
  font-size: helpers.$font-size-default;
  overflow: hidden;
}

body {
  // height: fit-content;
}
